@model ExamAspNet.Models.RegisterViewModel

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
<fieldset>
    <h2 class="fs-title">Create your account</h2>
    <input asp-for="Email" class="form-control" placeholder="Login" />
    <span asp-validation-for="Email" class="text-danger"></span>
    <input asp-for="Password" class="form-control" placeholder="Password" />
    <span asp-validation-for="Password" class="text-danger"></span>
    <input asp-for="ConfirmPassword" class="form-control" placeholder="Password" />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    <input type="submit" name="submit" class="submit action-button" value="Register" />
</fieldset>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
